.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form input:focus {
  outline: none;
  border-color: #000;
}

/* Avatar Section */
.avatar-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.avatar-preview img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

/* Button */
.form button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  background: #333;
}